.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 1fr auto;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    border: 5px solid black;
    color:  rgb(0, 0, 0);
}

.block1{
    background: rgb(236, 73, 73);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.block2{
    background: rgb(211, 160, 31);
    grid-column: 1/2;
    grid-row: 1/3;
}

.block3{
    background: greenyellow;
    grid-area: 2/2/3/4;
}

.block4{
    background: fuchsia;
    grid-column: 1 /span 3;
    grid-row: 3/ -1;
}

